@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    
}

main {
    margin: 0 50px 0 50px;
}


.header{
    /* background-image: url('files/books.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55)),url('files/books.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 550px;
    

}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 100;
    /* filter: brightness(40%); */
}

.navbar, footer {
    background-color: #BEFA8D !important;
}

a {
    text-decoration: none;
}

.map {
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 480px) {
    map {
        width: 300px;
        height: 200px;
    }
}

.place_photo {
    width: 500px;
    height: 300px;
}

.copyright {
    font-size: 14px;
    text-align: center;
}

h1, h2, h3{
    color: #C18D31;
}



h4 {
    color: #55B605;
}

.back_color {
    background-color: #FFFAB3;
}

.text_d {
    text-decoration: underline;
}

.block_t {
    font-size: 20px;
}

p {
    font-size: 20px;
}

.overlay_color {
    color: #FFF890;
}

/* .logo_name {
    font-size: 16px;
} */